<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="title">
            <h1 class="has-text-black is-size-1 is-uppercase has-text-weight-bold">
                我们做啥
            </h1>
            </div>

            <div class="columns is-centered">
                <div class="column is-one-quarter-desktop is-one-quarter-tablet is-one-quarter-fullhd">
                    <figure class="image">
                        <img src="{{site.about-image}}">
                    </figure>
                </div>
                <div class="column is-size-5 is-three-quarters has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen has-text-left-mobile">
                    <p>{{site.logo-about}}</p>
                    <br>
                    <p>{{site.company-about}}</p>
                </div>
            </div>
        </div>
</section>
