<section class="hero has-text-centered is-fullheight has-background-white" id="contact">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-black is-size-1 is-uppercase has-text-weight-bold has-text-centered">
                联系我们
            </h1>
            <br>
            <br>
            <br>
            <div class="columns is-centered">
                <div class="column is-one-quarter has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <i class="far fa-envelope"></i> 邮箱：email@email.com
                    <br>
                    <br>
                    <i class="far fa-comments"></i> 微信公众号：abcdedfg
                </div>
            </div>
        </div>
    </div>
</section>
