<section class="hero has-text-centered is-fullheight has-background-white" id="contact">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered has-text-black is-size-1 is-uppercase has-text-weight-bold">
                我们在哪
            </h1>
            <br>
            <br>
            <i class="far fa-envelope"></i> 邮箱：contact@naturalcap.cn
            <figure class="image is-centered is-128x128">
                <img src="{{site.contact-image}}">
            </figure>
        </div>
    </div>
</section>
