<section class="hero is-fullheight has-text-centered has-background-white-ter" id="team">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-black is-size-1 is-uppercase has-text-weight-bold">
                我们是谁
            </h1>
            <div class="columns is-vcentered">
                <div class="column is-size-5 is-two-thirds is-offset-1 has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen has-text-left-mobile">
                    <p>{{site.team-about}}</p>
                </div>
                <div class="column is-one-fourth">
                    <figure class="team-image">
                        <img class="is-rounded" src="{{site.team-image}}">
                    </figure>
                </div>
            </div>
        </div>
</section>
